$main-bg:rgba(0,0,0,.2);

.profile-meals-wrapper{
	background:$main-bg;
	padding-top:5px;
	paddingleft:15px;
	margin-bottom:10px;
}

.profile-meals-headers{
	margin-bottom:7px;
	margin-left:8px;
	margin-right:8px;
}