.mealline{
	fill:#8d6e63;
	border:1px solid black;
}

.norm {
	fill:#00e676;
}

.overlimit {
	fill:#ff6f00;
}

.slider{
	padding-right:10px;
	padding-left:10px;
	background:rgba(0,0,0,.4);
	margin-bottom:10px;
	border:6px solid rgba(0,0,0,0.1);
	height:160px;
}

.small-text {
	font-size:8pt;
	font-family:serif;
}