<div class="row">
			<div class="col-sm-3">
				<div class="profile-photo-tile">
		<img src="./assets/images/profiles/pavel_pleshko_profile.jpg" class="img rounded mb-1 ml-2" style="max-width:150px"><br>
		<p class="change-photo"><a class="">Change photo</a></p>
	</div>
	</div>
<div class="col-sm-7">
	<div class="page-info-wrap">
		<div class="page-info-top">
			<h4 class="page_name">John Doe</h4>
			<div class="user_status" contenteditable="true"><span class="grey-text text-lighten-1">change your status</span></div>
		
			<div class="info-divider">
				<hr class="grey darken-2">
			</div>
			<app-profile-main-info></app-profile-main-info>

		</div>
	</div>
	<div class="profile-meals mt-3">
	<app-profile-meals></app-profile-meals>
	</div>
</div>
</div>


