.mealline{
	fill:#dcedc8;
}

.norm{
	fill:#689f38;
}


.low-level{
	fill:#f44336;
}

.middle-level {
	fill:#ffca28;
}

.high-level{
	fill:#43a047;
}

.text-small {
	font-size:7pt;
	letter-spacing:1px;
	font-weight:700;
	font-family:serif;
	text-shadow:1px 1px 1px rgba(0,0,0,.2);
}