<div>
<p>
<strong>A-App</strong> is a newly developed web-application oriented on people who experience anemia-related health problems
 and willing to adjust their lifestyle in a organized manner. Particularly, this application will help you to determine and track your daily food consumption giving you a precise evalutaion of your current ration and recommending what to change and fix in it in order to overcome health problems.
 Based on your gender,weight,height and other relevant factors, the application can determine your daily norm of consumption of particular products in order to maintain healthy level of nutrition and meet general body needs.
 Please <a [routerLink]="['/user-registration']">register</a> first in our system and fill out all the necessary information about yourself to proceed further.


</p>


</div>